/* .product-container{
    display: grid;
grid-template-columns: 3fr 1fr;
} */

.search-container{
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    line-height: 40px;
}
.search-container input{
    width: 75%;
}